img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  height: 700px;
  z-index: 1;
}

main {
  background-color: #d5d6d8;
  height: fit-content;
  overflow: hidden;
}

main .container {
  width: 100%;
  height: 100dvh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .container .apaya {
  position: absolute;
  top: 40px;
  left: 80px;
  color: var(--primary);
  font-size: 1.8rem;
  rotate: -20deg;
  font-weight: 600;
}

main .container .price {
  position: absolute;
  bottom: 460px;
  right: 340px;
  padding: 8px 28px;
  border-radius: 100px;
  background-color: var(--primary);
  color: #d5d6d8;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 700;
}

main .container h2 {
  margin-left: 80px;
  padding-top: 8px;
  line-height: 24px;
  font-size: 1.2rem;
  color: #505050;
  width: fit-content;
  border-top: 4px solid var(--primary);
}

main .container .fos {
  /* border: 1px solid red; */
  margin-top: 120px;
  height: 200px;
  position: relative;
}

main .container .fos p {
  rotate: -90deg;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 12rem;
  font-weight: 600;
  letter-spacing: -8px;
}

main .container .fos .in {
  color: aliceblue;
  font-weight: 600;
  color: black;
}

main .container .fos .out {
  -webkit-text-stroke: 4px black;
  color: transparent;
  z-index: 3;
}

main .container .fos img {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -160px;
  left: 80px;
  z-index: 2;
  animation: move 8s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

main .container .fos .image2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -100px;
  left: 180px;
  z-index: 2;
  animation: move2 12s infinite;
}

@keyframes move2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.image3 {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 20px;
  right: 100px;
  rotate: -40deg;
}
